{% extends 'base.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5 ml-3">
        <div class="d-none d-lg-block col-lg-8" style="margin-bottom: 15%;">
            <h1 style="font-size: 70px; text-transform: initial;">Центр управления занятиями</h1>
            <h2 style="font-size: 30px; text-align: right;">Оптимизируйте свой труд</h2>
        </div>
        <div class="d-lg-none col-md-8" style="margin-bottom: 25%;">
            <h1 style="font-size: 45px; text-transform: initial;">Центр управления занятиями</h1>
            <h2 style="font-size: 20px; text-align: right;">Оптимизируйте свой труд</h2>
        </div>
    </div>
</div>
<div class="image-bg">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3"></div>
        <div class="d-none d-lg-block col-lg-9">
            <div class="bimg"></div>
            a
        </div>
    </div>
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            <div class="bimg-2"></div>
        </div>
        <div class="d-none d-lg-block col-lg-9">
            <div class="bimg-3">
                <h2>Наша цель</h2>
                <p>Мы помогаем оптимизировать планирование процессов и экономить время на выполнении рутинных задач</p>
            </div>
        </div>
        <div class="d-lg-none col-lg-9">
            <div class="bimg-3-1">
                <h2>Наша цель</h2>
                <p>Мы помогаем оптимизировать планирование процессов и экономить время на выполнении рутинных задач</p>
            </div>
        </div>
    </div>
    <div class="adv">
        <div class="row">
            <div class=" d-none d-sm-block col-lg-9">
                <div class="d-flex flex-column align-items-center" style="height: 756px;">
                    <h1 class="mt-5 mb-5 text-center" style="color: #0B0B0B;">Для кого подходит наш продукт?</h1>
                    <div class="d-md-inline-flex mb-5">
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="work" src="../static/images/presentation.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Тренинговые центры</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="music" src="../static/images/music.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Музыкальные школы</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="creativity" src="../static/images/creativity.png"
                                style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Творческие студии</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="bilingual" src="../static/images/bilingual.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Языковые центры</p></div>
                    </div>
                    <h1 class="mt-5 mb-5 text-center" style="color: #0B0B0B;">Наши достоинства</h1>
                    <div class="d-md-inline-flex mb-5">
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="computer" src="../static/images/browser.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Удобный интерфейс</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="time" src="../static/images/time-management.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Экономия времени</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="to-do" src="../static/images/checklist.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Прогноз занятости</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="preparation" src="../static/images/preparation.png"
                                style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Оптимизация планирования</p></div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-3">
                <div class="bimg-6"></div>
            </div>
        </div>
        <div class="row d-sm-none">
            <div class="col-12">
                <div class="d-flex flex-column align-items-center" style="height: 756px;">
                    <h1 class="mt-5 mb-5 text-center" style="color: #0B0B0B;">Для кого подходит наш продукт?</h1>
                    <div class="d-flex flex-column mb-5 align-items-center">
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="work" src="../static/images/presentation.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Тренинговые центры</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="music" src="../static/images/music.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Музыкальные школы</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="creativity" src="../static/images/creativity.png"
                                style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Творческие студии</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="bilingual" src="../static/images/bilingual.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Языковые центры</p></div>
                    </div>
                    <h1 class="mt-5 mb-5 text-center" style="color: #0B0B0B;">Наши достоинства</h1>
                    <div class="d-flex flex-column mb-5 align-items-center">
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="computer" src="../static/images/browser.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Удобный интерфейс</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="time" src="../static/images/time-management.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Экономия времени</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="to-do" src="../static/images/checklist.png" style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Прогноз занятости</p></div>
                        <div class="d-flex align-items-center flex-column mr-5 w-25"><img
                                alt="preparation" src="../static/images/preparation.png"
                                style="height: 90px; width:90px;">
                            <p class="text-center" style="color: #0B0B0B;">Оптимизация планирования</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}