{% extends 'base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class='container'>
    <div class='row mb-4 justify-content-center align-items-center h-100 mr-2 ml-2 mb-5'>
        <div class='col-12 сol-sm-8 col-md-6 col-lg-5 col-xl-4 text-center mt-3'>
            <div class='card' style="background-color: hsl(0, 6%, 76%);">
                <div class='card-body'>
                    <h2 class='card-title text-center d-none d-sm-none d-md-block'>Вход</h2>
                    <h3 class='card-title text-center d-block d-sm-block d-md-none'>Вход</h3>
                    <form action='/auth/login/' class="needs-validation" method='POST' novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class='form-group mb-3'>
                            <input class="form-control" name="username" placeholder="Логин" required type="text">
                        </div>
                        <div class='form-group mb-3'>
                            <input class='form-control' name='password' placeholder='Пароль' required type="password">
                        </div>
                        <a class='d-flex justify-content-center mb-2' href='changepass.html'
                           style="text-decoration: none; color: black;">Изменить пароль</a>
                        <div class='form-check mb-3 d-flex justify-content-center'>
                            <input class='form-check-input mr-2' id="inputRemember" type="checkbox" value='true'>
                            <label class="form-check-label" for="inputRemember" style="color: black;">Запомнить
                                меня</label>
                        </div>
                        <button class="btn btn-secondary w-75 mb-3" type='submit'>Войти</button>
                    </form>
                    <a href="{% url 'django_registration_register' %}" style="text-decoration: none; color: black;">Создать
                        учетную запись</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="bimg-4"></div>
</footer>
{% endblock %}