{% extends 'base.html' %}
{% load static %}

{% block title %}{{ team.team_name }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="d-flex align-items-center flex-column mb-4">
                <img class="rounded-circle z-depth-0 w-75 h-75" src="{{ user.profile.avatar.url }}">
            </div>
            <p class="text-center pb-3">{{ user.username }}</p>
        </div>
        <div class="col-lg-6">
            <div class="pl-5">
                <h3 class='pb-4'>Ваша команда: {{ team.team_name }}</h3>
                <p class="pb-2" style='color: #9A9A9A'>Ссылка для приглашения:</p>
                <p class="pb-3" id="copytext"><a href="{% url 'team-ref' team.pk %}">{% url 'team-ref' team.pk %}</a>
                </p>
                <a class="d-flex justify-content-center mb-5 mt-5" href="{% url 'profile-view' %}"
                   style="text-decoration: none; color: black;">Назад</a>
                <div class="mt-5 mb-5">
                    {% autoescape off %}
                    <div class="container">
                        {% for inf in data.teachers %}
                            <div class="border border-secondary m-2 p-2">
                                <a data-toggle="collapse" data-target="#i{{ inf.teacher_id }}">


                                    <h3>{{ inf.teacher_name }}</h3>
                                    <p>Загрузка в часах: {{ inf.load }}</p>
                                    <div class="collapse" id="i{{ inf.teacher_id }}">
                                        <table class="table table-hover table-dark">
                                            <thead>
                                            <tr>
                                                <th scope="col">Дата и время урока</th>
                                                <th scope="col">Длительность урока</th>
                                                <th scope="col">Специальность урока</th>
                                                <th scope="col">Тема урока</th>
                                            </tr>
                                            </thead>
                                            {% for lessons_list in inf.lessons %}
                                                <tr>
                                                    <td>
                                                        {{ lessons_list.lesson_datetime }}
                                                    </td>
                                                    <td>
                                                        {{ lessons_list.lesson_duration }}
                                                    </td>
                                                    <td>
                                                        {{ lessons_list.lesson_specialization }}
                                                    </td>
                                                    <td>
                                                        {{ lessons_list.lesson_title }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% endautoescape %}
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div>
                <h3 class='pb-4'>Члены команды:</h3>
                {% for trainer in trainers_list %}
                    <div class="mb-3">
                        {{ trainer.owner.username }}
                    </div>
                    {% empty %}
                    <p class="pb-2" style='color: #9A9A9A'>У вас нет членов команды</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mt-5 mb-5">
            <form enctype="multipart/form-data" method='POST'>
                {% csrf_token %}
                <label for="myfile">Choose file to upload</label>
                <input accept=".xlsx" id="myfile" name="myfile" type="file">
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}