body{
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background-color:#E0DCDC;
}
.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus{
    border: 0;
    outline: none !important;
    box-shadow: none;
}
.bimg{
    background: url(../images/top-view-desk-dark-concept.png) 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
    height: 239px;
}
.image-bg .row{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.image-bg .row .col-lg-3,
.image-bg .row .col-lg-9{
    padding: 0;
}
.bimg-2{
    background: url(../images/black-and-white-architecture-skyline-building-city-skyscraper-34264-pxhere\ 1.png) 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
    height: 756px;
}
.bimg-3{
    background-color: #0B0B0B;
    height: 756px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bimg-3 h2{
    text-align: left;
    color:#fff;
     width: 35%;
     font-size: 40px;
     line-height: 46px;
     font-style: normal;
     text-decoration: underline;
     text-transform: none;
 }
 .bimg-3 p{
     color:#fff;
     width: 35%;
     font-size: 40px;
     line-height: 46px;
     font-style: normal;
     text-transform: none;
 }
 .bimg-3-1{
    background-color: #0B0B0B;
    height: 556px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bimg-3-1 h2{
    text-align: left;
    color:#fff;
     width: 35%;
     font-size: 20px;
     line-height: 23px;
     font-style: normal;
     text-decoration: underline;
     text-transform: none;
 }
 .bimg-3-1 p{
     color:#fff;
     width: 35%;
     font-size: 20px;
     line-height: 23px;
     font-style: normal;
     text-transform: none;
 }
 .bimg-4{
    background: url(../images/flat-lay-desk-dark.png) 100% 100% no-repeat;
    height: 236px;
    background-size: cover;
    width: 100%;
}
.bimg-5{
    background: url(../images/top-view-workspace-with-glasses-cup-tea.png) 100% 100% no-repeat;
    height: 100%;
    background-size: cover;
    width: 100%;
    padding: 15%;
}
.bimg-6{
    background: url(../images/workplace-business-laptop.png) 100% 100% no-repeat;
    height: 756px;
    background-size: cover;
    width: 100%;
}
