body{
    background-color: rgb(211, 247, 239);
}
.bg-custom{
    background-color: hsla(145,50%,62%,0.4) !important;
    border-radius: 15px 0px;
}
.navbar{
    margin:29px 29px 41px 29px;
}
.jumbotron{
    background: url('all-media/flat-lay-business-agenda.png');
}
.navbar .nav-link{
    font-size: 20px;
}
.navbar-brand{
    font-size: 30px;
}
.text1{
    padding: 0 75px;
}
.display-4{
    font-size: 35px;
    font-weight: 500;
}
.lead{
    font-size: 25px;
    font-weight: 350;
}
.forma{
    margin-top: 50px;
}

.jumbotron{
    padding: 50px;
}
.jumbotron p{
    padding-top: 40px;
    padding-bottom: 20px;
}
.modal-header {
    background-color: hsla(145,50%,62%,0.4);
}
.modal-footer{
    background-color:hsla(145,50%,62%,0.4);
}
.btn{
    color: #ffffff;
    background-color:hsla(145,50%,62%,0.9) !important;
}
h1{
    font-size: 35px;
    color: #000;
}
a{
    text-decoration: none;
    color: #000;
}

.btn:focus,
.btn-close:focus {
    outline: 0px !important;
    box-shadow: none;
}
.text2{
    padding:50px 200px;
}
.text2 h3{
    padding-bottom: 30px;
}
.navbar-logo{
    display: flex;
}
.avatar{
    border-radius: 1000px;
    background-color:rgb(158, 142, 142);
    height: 200px;
    width: 200px;
}
.info>.str{
    color: #9A9A9A;
    padding-bottom:10px;
}
.info>.main-str{
    color: #000;
    padding-bottom: 25px;
}
.info>h3{
    padding-bottom: 60px;
}
.note{
    width: 100%;
    height:500;
    background: url('pytyga/all-media/flat-lay-business-agenda-1.png');
}
.offer{
    display: flex;
    flex-flow: column nowrap;
}
.advertising{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    margin:0 20px;
    justify-content: space-between;
}
.advertising .adv-el{
    flex-basis: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}
.offer>h1 {
    margin: 85px 0;
    display: flex;
    justify-content: center;

}
.adv-el img{
    height: 165px;
    width: 165px;
}
.adv-el p{
    color: black;
    font-size: 25px;
}